/* ��ͻ��ʽ */
.right-content .aside {
    margin-top: 0px;
}
.right-content .for-adds {
    margin-top: 0px;
}
.row * {
    box-sizing: border-box;
}




.content-wrap {

}
.ad-wrap {
    position: relative;
    width: 100%;
    height: 90px;
    margin: 50px 0 30px 0;
}
.ad-wrap .ad-bar {
    height: 100%;
    width: 900px;
    background: #ccc;
    border-radius: 5px;
    text-align: center;
    line-height: 90px;
    font-size: 24px;
    color: #fff;
}
.ad-wrap .close-btn {
    position: absolute;
    right: 0;
    top: 27px;
    font-size: 30px;
}
.content-box {
    padding-top: 30px;
}
.left-content-box {
    margin-right: 350px;
}

.left-content-box .content-title {
    border-bottom: 1px solid #ccc;
    margin: 0;
    padding: 0 0 20px 0;
}
.left-content-box .person-box {
    height: 40px;
    padding: 15px 0;
 }
.left-content-box .person-box .left-msg {
    width: 70%;
}
.left-content-box .person-box .left-msg .img-box {
    height: 40px;
    width: 40px;
    float: left;
}
.left-content-box .name-box {
    margin: 0 0 0 50px;
}
.left-content-box .time-box {
    width: 30%;
    text-align: right;
    height: 40px;
    line-height: 40px;
}
.left-content-box .share-box {
    height: 40px;
    padding: 10px 0;
}
.left-content-box .share-box .btn {
    border-radius: 0;
    height: 32px;
    padding: 0;
    text-indent: -1254px;
    overflow: hidden;
    width: 90px;
    border: 0;
}
.left-content-box .share-box .btn-share-qzone {
    background: url("../images/icon_qzone.png") no-repeat center center;
}
.left-content-box .share-box .btn-share-sea {
    background: #F04242 url("../images/weibo.png") no-repeat center center;
    margin-left: 10px;
}
.left-content-box .share-box .btn-collet {
    background: url("../images/icon_collect.png") no-repeat center center;
}
.left-content-box .con-center {

}


.left-content-box .img-content-box {
    width: 100%;
    height: 400px;
    overflow: hidden;
}
.left-content-box .con-center .first-conten {
    margin: 30px 0 20px 0;
    font-size: 16px;
    font-style: italic;
}
.left-content-box .con-center .item-content {
    line-height: 25px;
    color: #636363;
}
.left-content-box .con-center .content-block {
    padding: 15px 0;
}
.left-content-box .con-center .content-block .title {
    font-size: 16px;
    padding: 15px 0px;
}
.left-content-box .con-center .content-block .txt {
    font-size: 16px;
    color: #333333;
}
.left-content-box .con-center .page-row {
    padding: 35px 0;
}
.left-content-box .con-center .page-row .btn {
    width: 135px;
    border-radius: 0;
}
.left-content-box .con-center .tip-row {
    padding: 20px 0;
}
.left-content-box .con-center .share-wrap {
    padding: 30px 0 10px 0;
}
.left-content-box .con-center .share-wrap .btn {
    width: 160px;
    border-radius: 0;
    color: #fff;
    text-indent: 27px;
}
.left-content-box .con-center .btn-share-weichat {
    background: #19CB23 url("../images/weixin.png") no-repeat 23px center;
}
.left-content-box .con-center .btn-share-sea {
    background: #F04242 url("../images/weibo.png") no-repeat 23px center;
}
.left-content-box .con-center .btn-share-qzone {
    background: #EFBA00 url("../images/icon_qzone.png") no-repeat 0px center;
}
.left-content-box .con-center .new-content-box {
    width: 100%;
    padding: 30px 0;
}
.left-content-box .con-center .new-content-box .title-box {
    height: 72px;
    padding: 20px 0;
    border-bottom: 2px solid #eaeaea;
}
.left-content-box .con-center .new-content-box .title-box img {
    height: 100%;
}
.left-content-box .con-center .new-content-box .link-box {
    padding: 10px 0;
    font-size: 16px;
    border-bottom: 1px solid #eaeaea;
}
.left-content-box .con-center .new-content-box .link-box a {
    color: #333333;
}

.right-content {
    width: 350px;
    float: right;
}




