<div class="container about-container">
    <div class="row">
        <div>
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist" id="tab-nav">
                <li role="presentation" class="active"><a ui-sref="about.aboutus" aria-controls="about" role="tab" data-toggle="tab">关于我们</a></li>
                <li role="presentation"><a ui-sref="about.contact" aria-controls="contact" role="tab" data-toggle="tab">联系我们</a></li>
                <li role="presentation"><a ui-sref="about.sitemap" aria-controls="sitemap" role="tab" data-toggle="tab">站点地图</a></li>
                <li role="presentation"><a ui-sref="about.privacy" aria-controls="privacy" role="tab" data-toggle="tab">隐私条款</a></li>
                <li role="presentation"><a ui-sref="about.disclaimer" aria-controls="disclaimer" role="tab" data-toggle="tab">免费申明</a></li>
                <li role="presentation"><a ui-sref="about.copyright" aria-controls="copyright" role="tab" data-toggle="tab">版权申明</a></li>
                <li role="presentation"><a ui-sref="about.links" aria-controls="links" role="tab" data-toggle="tab">友情链接</a></li>
                <li role="presentation"><a ui-sref="about.ad" aria-controls="ad" role="tab" data-toggle="tab">广告服务</a></li>
                <li role="presentation"><a ui-sref="about.careers" aria-controls="careers" role="tab" data-toggle="tab">加入牛男</a></li>
                <li role="presentation"><a ui-sref="about.contributors" aria-controls="contributors" role="tab" data-toggle="tab">欢迎投稿</a></li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane fade in active">
                    <div ui-view="aboutContent"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $("#tab-nav").on("click", "a", function(){
        var $this = $(this);
        $("#tab-nav").find('li').removeClass("active");
        $this.parents("li").addClass("active");
    })
</script>
