<footer>
    <div class="footer-content toCenter">
        <div class="float-left some-links">
            <div class="footer-logo">
                <img src="./images/footer-neoman.png" alt="">
            </div>
            <div class="links">
                <a href="http://www.baidu.com" target="_blank" class="link">关于我们</a>
                <a href="http://www.baidu.com" target="_blank" class="link">广告服务</a>
                    <!--<a ng-repeat="item in link"  href="{{item.url}}" target="_blank" class="link">{{item.title}}</a>-->
                <a href="" class="link">友情链接</a>
                <a href="" class="link">牛男商城</a>
                <a href="" class="link">加入牛男</a>
                <a href="" class="link">相关声明</a>
                <a href="" class="link">牛男APP</a>
                <a href="" class="link">欢迎投稿</a>
            </div>
        </div>
        <div class="float-right enter">
            <div class="betterman">立即加入成为更好的男人</div>
            <form action="">
                <div class="input-wrap clear">
                    <div class="float-left input-text">
                        <input type="text" placeholder='请输入您的邮箱'>
                    </div>
                    <div class="float-left enter-btn">立即加入</div>
                </div>
            </form>

            <div class="shares">
                <a href="" class="share"><img src="./images/single.png" alt=""></a>
                <a href="" class="share"><img src="./images/weibo.png" alt=""></a>
                <a href="" class="share footerweixin"><img src="./images/weixin.png" alt=""></a>
            </div>
        </div>
    </div>
</footer>