<div class="new-hot float-left" articles>
    <div class="new-hot-title">
        <div class="new-logo">
            <img src="./images/latest.png" alt="">
        </div>
        <div class="new-hot-btn">
            <div class="new-btn change-btn" ng-class="{'active':className}" data-type="0" ng-click="clickToggleHandler('0')">最新</div>
            <div class="hot-btn change-btn" ng-class="{'active':!className}" data-type="1" ng-click="clickToggleHandler('1')">最热</div>
        </div>
    </div>
    <div class="new-hot-content">
        <div class="new-hot-content-item" ng-repeat="item in article">
            <div class="float-left c-item-pic">
                <img src="{{item.cover_image}}" alt="">
                <div class="msg-type body-building">{{item.category_name}}</div>
            </div>
            <div class="c-item-msg">
                <h3 class="c-item-pic-title">
                    <a ui-sref="index.contentDetail({id : item.id})">{{item.title}}</a>
                </h3>
                <div class="power-by">BY <span>{{item.author}}</span></div>
                <div class="power-time"><span class='time-pic'><img src="./images/timepic.png" alt=""></span><span class='time-text'>{{item.publish_time.substring(0,10)}}</span></div>
            </div>
        </div>
        <!--<div class="new-hot-content-item">-->
            <!--<div class="float-left c-item-pic">-->
                <!--<img src="./images/latest-item1.png" alt="">-->
                <!--<div class="msg-type growth">成长</div>-->
            <!--</div>-->
            <!--<div class="c-item-msg">-->
                <!--<h3 class="c-item-pic-title"><a href="">最牛室内腹肌训练教程，你值得拥有！</a></h3>-->
                <!--<div class="power-by">BY <span>TONY小编</span></div>-->
                <!--<div class="power-time"><span class='time-pic'><img src="./images/timepic.png" alt=""></span><span class='time-text'>50分钟前</span></div>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="new-hot-content-added">-->
            <!--<div class="float-left added-pic">-->
                <!--<img src="./images/added.png" alt="">-->
            <!--</div>-->
            <!--<div class="add-msg">-->
                <!--<div class="add-msg-title"><a href="">震耳欲聋的清脆感，海底巨兽利维坦科技评测！</a></div>-->
                <!--<div class="persend-by">PERSENDED BY <span class='persend-who'>TONY</span></div>-->
            <!--</div>-->
            <!--<div class="awrro">-->
                <!--<div class="awrro-left">-->
                    <!--<img src="./images/awrro-left.png" alt="">-->
                <!--</div>-->
                <!--<div class="awrro-right">-->
                    <!--<img src="./images/awrro-right.png" alt="">-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="new-hot-content-item">-->
            <!--<div class="float-left c-item-pic">-->
                <!--<img src="./images/latest-item.png" alt="">-->
                <!--<div class="msg-type figure">形象</div>-->
            <!--</div>-->
            <!--<div class="c-item-msg">-->
                <!--<h3 class="c-item-pic-title"><a href="">最牛室内腹肌训练教程，你值得拥有！</a></h3>-->
                <!--<div class="power-by">BY <span>TONY小编</span></div>-->
                <!--<div class="power-time"><span class='time-pic'><img src="./images/timepic.png" alt=""></span><span class='time-text'>50分钟前</span></div>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="new-hot-content-item">-->
            <!--<div class="float-left c-item-pic">-->
                <!--<img src="./images/latest-item1.png" alt="">-->
                <!--<div class="msg-type good-play">成长</div>-->
            <!--</div>-->
            <!--<div class="c-item-msg">-->
                <!--<h3 class="c-item-pic-title"><a href="">最牛室内腹肌训练教程，你值得拥有！</a></h3>-->
                <!--<div class="power-by">BY <span>TONY小编</span></div>-->
                <!--<div class="power-time"><span class='time-pic'><img src="./images/timepic.png" alt=""></span><span class='time-text'>50分钟前</span></div>-->
            <!--</div>-->
        <!--</div>-->
    </div>
    <button class="load-more btn btn-outlined btn-block">LOAD MORE</button>
</div>