<div class="new-hot float-left" articles>
    <div class="new-hot-title">
        <div class="new-logo">
            <img src="{{tabPic}}" alt="">
        </div>
        <div class="new-hot-btn">
            <div class="new-btn change-btn" ng-class="{'active':className}" data-type="0" ng-click="clickToggleHandler('0')">最新</div>
            <div class="hot-btn change-btn" ng-class="{'active':!className}" data-type="1" ng-click="clickToggleHandler('1')">最热</div>
        </div>
    </div>
    <div class="new-hot-content">
        <div class="new-hot-content-item" ng-repeat="item in article">
            <div class="float-left c-item-pic">
                <img src="{{item.cover_image}}" alt="">
                <div class="msg-type body-building">{{item.category_name}}</div>
            </div>
            <div class="c-item-msg">
                <h3 class="c-item-pic-title">
                    <a ui-sref="index.contentDetail({id : item.id})">{{item.title}}</a>
                </h3>
                <div class="power-by">BY <span>{{item.author}}</span></div>
                <div class="power-time"><span class='time-pic'><img src="./images/timepic.png" alt=""></span><span class='time-text'>{{item.publish_time.substring(0,10)}}</span></div>
            </div>
        </div>
    </div>
    <button class="load-more btn btn-outlined btn-block">LOAD MORE</button>
</div>