<div class="main toCenter">
    <div class="swiper">
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <img src="./images/swiper1.png" alt="">
                    <div class="slider-msg">
                        <div class="msg-title">避开这些，分分钟让你吸引力爆棚！避开这些，分分钟让你吸引力爆棚！
                        </div>
                        <div class="by">BY <span class='by-who'>TONY小编</span></div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <img src="./images/swiper1.png" alt="">
                    <div class="slider-msg">
                        <div class="msg-title">避开这些，分分钟让你吸引力爆棚！避开这些，分分钟让你吸引力爆棚！
                        </div>
                        <div class="by">BY <span class='by-who'>TONY小编</span></div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <img src="./images/swiper1.png" alt="">
                    <div class="slider-msg">
                        <div class="msg-title">避开这些，分分钟让你吸引力爆棚！避开这些，分分钟让你吸引力爆棚！
                        </div>
                        <div class="by">BY <span class='by-who'>TONY小编</span></div>
                    </div>
                </div>
            </div>
            <!-- 下方原点 -->
            <div class="swiper-pagination"></div>
            <!-- 左右切换 -->
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>
    </div>
    <div class="wonderful">
        <div class="won-list border-b-77c322">
            <div class="won-list-picwrap">
                <img src="./images/wonder1.png" alt="">
            </div>
            <div class="won-pic-msg">
                <div class="pic-msg-title">
                    <a href="">避开这些，分分钟让你吸引力爆棚！</a>
                </div>
                <div class="lunch-by">BY <span class='by-who'>TONY小编</span></div>
            </div>
        </div>
        <div class="won-list border-b-ed236c">
            <div class="won-list-picwrap">
                <img src="./images/wonder2.png" alt="">
            </div>
            <div class="won-pic-msg">
                <div class="pic-msg-title">
                    <a href="">超有病！如果科学家变成了格斗游戏的主角</a>
                </div>
                <div class="lunch-by">BY <span class='by-who'>TONY小编</span></div>
            </div>
        </div>
        <div class="won-list border-b-3b3863">
            <div class="won-list-picwrap">
                <img src="./images/wonder3.png" alt="">
            </div>
            <div class="won-pic-msg">
                <div class="pic-msg-title">
                    <a href="">别再 Yeezy 了，来看看这双火了一整年的 Tubular</a>
                </div>
                <div class="lunch-by">BY <span class='by-who'>TONY小编</span></div>
            </div>
        </div>
    </div>
    <div class="selected">
        <div class="select-logo float-left selected-list">
            <img src="./images/editor.png" alt="">
        </div>
        <div class="float-left selected-list">
            <a href="">巨石强森为什么能够干翻所有罪犯，这就是答案！</a>
        </div>
        <div class="float-left selected-list">
            <a href="">震耳欲聋的清脆感，海底巨兽利维坦科技评测！</a>
        </div>
        <div class="float-left selected-list none-gap">
            <a href="">这妹子设计的成人玩具每一个我都好想要!</a>
        </div>
    </div>
    <div class="new-hot-aside clear">
        <div class="new-hot float-left">
            <div class="new-hot-title">
                <div class="new-logo">
                    <img src="./images/latest.png" alt="">
                </div>
                <div class="new-hot-btn">
                    <div class="new-btn active">最新</div>
                    <div class="hot-btn">最热</div>
                </div>
            </div>
            <div class="new-hot-content">
                <div class="new-hot-content-item">
                    <div class="float-left c-item-pic">
                        <img src="./images/latest-item.png" alt="">
                        <div class="msg-type body-building">健身</div>
                    </div>
                    <div class="c-item-msg">
                        <h3 class="c-item-pic-title"><a href="">C罗用过来经历告诉你，身体在球场上有多重要！！</a></h3>
                        <div class="power-by">BY <span>TONY小编</span></div>
                        <div class="power-time"><span class='time-pic'><img src="./images/timepic.png" alt=""></span><span class='time-text'>15分钟前</span></div>
                    </div>
                </div>
                <div class="new-hot-content-item">
                    <div class="float-left c-item-pic">
                        <img src="./images/latest-item1.png" alt="">
                        <div class="msg-type growth">成长</div>
                    </div>
                    <div class="c-item-msg">
                        <h3 class="c-item-pic-title"><a href="">最牛室内腹肌训练教程，你值得拥有！</a></h3>
                        <div class="power-by">BY <span>TONY小编</span></div>
                        <div class="power-time"><span class='time-pic'><img src="./images/timepic.png" alt=""></span><span class='time-text'>50分钟前</span></div>
                    </div>
                </div>
                <div class="new-hot-content-added">
                    <div class="float-left added-pic">
                        <img src="./images/added.png" alt="">
                    </div>
                    <div class="add-msg">
                        <div class="add-msg-title"><a href="">震耳欲聋的清脆感，海底巨兽利维坦科技评测！</a></div>
                        <div class="persend-by">PERSENDED BY <span class='persend-who'>TONY</span></div>
                    </div>
                    <div class="awrro">
                        <div class="awrro-left">
                            <img src="./images/awrro-left.png" alt="">
                        </div>
                        <div class="awrro-right">
                            <img src="./images/awrro-right.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="new-hot-content-item">
                    <div class="float-left c-item-pic">
                        <img src="./images/latest-item.png" alt="">
                        <div class="msg-type figure">形象</div>
                    </div>
                    <div class="c-item-msg">
                        <h3 class="c-item-pic-title"><a href="">最牛室内腹肌训练教程，你值得拥有！</a></h3>
                        <div class="power-by">BY <span>TONY小编</span></div>
                        <div class="power-time"><span class='time-pic'><img src="./images/timepic.png" alt=""></span><span class='time-text'>50分钟前</span></div>
                    </div>
                </div>
                <div class="new-hot-content-item">
                    <div class="float-left c-item-pic">
                        <img src="./images/latest-item1.png" alt="">
                        <div class="msg-type good-play">成长</div>
                    </div>
                    <div class="c-item-msg">
                        <h3 class="c-item-pic-title"><a href="">最牛室内腹肌训练教程，你值得拥有！</a></h3>
                        <div class="power-by">BY <span>TONY小编</span></div>
                        <div class="power-time"><span class='time-pic'><img src="./images/timepic.png" alt=""></span><span class='time-text'>50分钟前</span></div>
                    </div>
                </div>
            </div>
            <div class="load-more">LOAD MORE</div>
        </div>
        <div class="aside">
            <div class="aside-title"><img src="./images/neomantv.png" alt=""></div>
            <div class="aside-content">
                <div class="aside-list">
                    <div class="float-left aside-pic">
                        <img src="./images/aside-pic1.png" alt="">
                    </div>
                    <div class="aside-pic-content">
                        <div class="aside-pic-content-title"><a href="">这样穿鞋？难怪你现在还是单身！!</a></div>
                        <div class="aside-pic-content-time">
                            <span class='time-pic'><img src="./images/timepic.png" alt=""></span>
                            <span class='aside-pic-content-time-text'>15分钟前</span>
                        </div>
                    </div>
                </div>
                <div class="aside-list">
                    <div class="float-left aside-pic">
                        <img src="./images/aside-pic1.png" alt="">
                    </div>
                    <div class="aside-pic-content">
                        <div class="aside-pic-content-title"><a href="">这样穿鞋？难怪你现在还是单身！!</a></div>
                        <div class="aside-pic-content-time">
                            <span class='time-pic'><img src="./images/timepic.png" alt=""></span>
                            <span class='aside-pic-content-time-text'>15分钟前</span>
                        </div>
                    </div>
                </div>
                <div class="aside-list">
                    <div class="float-left aside-pic">
                        <img src="./images/aside-pic1.png" alt="">
                    </div>
                    <div class="aside-pic-content">
                        <div class="aside-pic-content-title"><a href="">这样穿鞋？难怪你现在还是单身！!</a></div>
                        <div class="aside-pic-content-time">
                            <span class='time-pic'><img src="./images/timepic.png" alt=""></span>
                            <span class='aside-pic-content-time-text'>15分钟前</span>
                        </div>
                    </div>
                </div>
                <div class="aside-list">
                    <div class="float-left aside-pic">
                        <img src="./images/aside-pic1.png" alt="">
                    </div>
                    <div class="aside-pic-content">
                        <div class="aside-pic-content-title"><a href="">这样穿鞋？难怪你现在还是单身！!</a></div>
                        <div class="aside-pic-content-time">
                            <span class='time-pic'><img src="./images/timepic.png" alt=""></span>
                            <span class='aside-pic-content-time-text'>15分钟前</span>
                        </div>
                    </div>
                </div>
                <div class="aside-list">
                    <div class="float-left aside-pic">
                        <img src="./images/aside-pic1.png" alt="">
                    </div>
                    <div class="aside-pic-content">
                        <div class="aside-pic-content-title"><a href="">这样穿鞋？难怪你现在还是单身！!</a></div>
                        <div class="aside-pic-content-time">
                            <span class='time-pic'><img src="./images/timepic.png" alt=""></span>
                            <span class='aside-pic-content-time-text'>15分钟前</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="aside-load-more">LOAD VIDEOS</div>
            <div class="for-adds">
                AD 300*250px
            </div>
        </div>
    </div>
</div>