<div class="swiper">
    <div class="swiper-container">
        <div class="swiper-wrapper">

            <div class="swiper-slide">
                <img src="{{handPick[0].image}}" alt="">
                <div class="slider-msg">
                    <div class="msg-title">
                        <a ui-sref="index.contentDetail({id : handPick[0].id})">{{handPick[0].title}}</a>
                    </div>
                    <div class="by">BY <span class='by-who'>{{handPick[0].recommendable_author}}</span></div>
                </div>
            </div>
            <div class="swiper-slide">
                <img src="{{handPick[1].image}}" alt="">
                <div class="slider-msg">
                    <div class="msg-title">
                        <a ui-sref="index.contentDetail({id : handPick[1].id})">{{handPick[1].title}}</a>
                    </div>
                    <div class="by">BY <span class='by-who'>{{handPick[1].recommendable_author}}</span></div>
                </div>
            </div>
            <div class="swiper-slide">
                <img src="{{handPick[2].image}}" alt="">
                <div class="slider-msg">
                    <div class="msg-title">
                        <a ui-sref="index.contentDetail({id : handPick[2].id})">{{handPick[2].title}}</a>
                    </div>
                    <div class="by">BY <span class='by-who'>{{handPick[2].recommendable_author}}</span></div>
                </div>
            </div>
        </div>

        <!-- 下方原点 -->
        <div class="swiper-pagination"></div>
        <!-- 左右切换 -->
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
    </div>
</div>