<div class="self-info-container">
    <div class="info-bar">
        <div class="head-img-container float-left">
            <img src="{{userHeadPic}}" alt=""/>
        </div>
        <div class="self-info">
            <div class="nickname-row">
                <div class="icon-box float-left">
                    <img src="images/head-icon.png" alt=""/>
                </div>
                <h3 class="message">{{userName}}</h3>
            </div>
            <div class="tel-row">
                <div class="icon-box float-left">
                    <img src="images/tel-icon.png" alt=""/>
                </div>
                <h4 class="message">{{userPhone}}</h4>
            </div>
        </div>
        <div>修改个人资料</div>
    </div>
</div>