
<div class="self-info-container">
    <div class="info-bar" selfinfo-directive>
        <div class="head-img-container float-left">
            <img src="{{userHeadPic}}" alt="" accept="image/png,image/jpeg" id="head-img"/>
            <input type="file" id="upload-img"/>
        </div>
        <div class="self-info">
            <div class="nickname-row">
                <div class="icon-box float-left">
                    <img src="images/head-icon.png" alt=""/>
                </div>
                <h3 class="message">{{userName}}</h3>
            </div>
            <div class="tel-row">
                <div class="icon-box float-left">
                    <img src="images/tel-icon.png" alt=""/>
                </div>
                <h4 class="message">{{userPhone}}</h4>
            </div>
        </div>
    </div>
    <button class="btn btn-primary" ng-click="changePanel()">修改个人资料</button>

    <div class="modal fade bs-example-modal-lg" id="crop-box" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="img-container">
                    <img src="images/swiper1.png">
                </div>
            </div>
        </div>
    </div>
</div>