<!--首页轮播-->
<swiper></swiper>
<!--精选-->
<div class="wonderful">
    <div class="won-list {{bannerBorColor[$index]}}" ng-repeat="item in banner">
        <div class="won-list-picwrap">
            <img src="{{item.image}}" alt="">
        </div>
        <div class="won-pic-msg">
            <div class="pic-msg-title">
                <a ui-sref="index.contentDetail({id : item.recommendable_id})">{{item.title}}</a>
            </div>
            <div class="lunch-by">BY <span class='by-who'>{{item.recommendable_author}}</span></div>
        </div>
    </div>
</div>
<!--小精选-->
<div class="selected">
    <div class="select-logo float-left selected-list">
        <img src="./images/editor.png" alt="">
    </div>
    <div class="float-left selected-list" ng-repeat="item in small">
        <a ui-sref="index.contentDetail({id : item.recommendable_id})">{{item.title}}</a>
    </div>
</div>