<div class="container toCenter tv-page-container">
    <div ui-view="contentTopAd"></div>

    <div class="tv-layout">
        <div class="row mbl">
            <div class="col-md-12">
                <a href="" class="img-link first-bar">
                    <img src="images/vedio/neonan-vedio_01.png" width="100%" height="100%" alt=""/>
                    <div class="inner-link">
                        <img src="images/vedio/neonan-img-2.png" width="100%" height="100%" alt=""/>
                    </div>
                </a>
            </div>
        </div>
        <div class="row mbl">
            <div class="col-md-6">
                <a href="" class="img-link second-bar">
                    <img src="images/vedio/neonan-vedio_02.png" width="100%" alt=""/>
                    <div class="inner-link">
                        <h4 class="link-title">不知道如何搭配</h4>
                        <h4 class="link-title">告诉你成为型男的的时尚法则</h4>
                        <img src="images/vedio/play-01.png" alt=""/>
                    </div>
                </a>
            </div>
            <div class="col-md-6">
                <a href="" class="img-link second-bar">
                    <img src="images/vedio/neonan-vedio_03.png" width="100%" alt=""/>
                    <div class="inner-link">
                        <h4 class="link-title">男生在购买</h4>
                        <h4 class="link-title">西装前需要知道的几件事</h4>
                        <img src="images/vedio/play-01.png" alt=""/>
                    </div>
                </a>
            </div>
        </div>

        <div class="row mbl">
            <div class="col-md-8">
                <a href="" class="img-link second-bar">
                    <img src="images/vedio/neonan-vedio_04.png" width="100%" alt=""/>
                    <div class="inner-link">
                        <h4 class="link-title">怎么穿T恤才不会</h4>
                        <h4 class="link-title">看上去像个“搬砖男”？</h4>
                        <img src="images/vedio/play-01.png" alt=""/>
                    </div>
                </a>
            </div>
            <div class="col-md-4">
                <div class="row mbl">
                    <a href="" class="img-link three-bar">
                        <img src="images/vedio/neonan-vedio_05.png" width="100%" alt=""/>
                        <div class="inner-link">
                            <h4 class="link-title">轰炸腹肌</h4>
                            <h4 class="link-title">五招练出迷人马甲线</h4>
                        </div>
                        <img src="images/vedio/play-02.png" class="play-style-two" width="46" height="46" alt=""/>
                    </a>
                </div>
                <div class="row">
                    <a href="" class="img-link three-bar">
                        <img src="images/vedio/neonan-vedio_05.png" width="100%" alt=""/>
                        <div class="inner-link">
                            <h4 class="link-title">轰炸腹肌</h4>
                            <h4 class="link-title">五招练出迷人马甲线</h4>
                        </div>
                        <img src="images/vedio/play-02.png" class="play-style-two" width="46" height="46" alt=""/>
                    </a>
                </div>
            </div>
        </div>

        <div class="row mbl">
            <div class="col-md-4">
                <a href="" class="img-link three-bar">
                    <img src="images/vedio/neonan-vedio_05.png" width="100%" alt=""/>
                    <div class="inner-link">
                        <h4 class="link-title">轰炸腹肌</h4>
                        <h4 class="link-title">五招练出迷人马甲线</h4>
                    </div>
                    <img src="images/vedio/play-02.png" class="play-style-two" width="46" height="46" alt=""/>
                </a>
            </div>
            <div class="col-md-4">
                <a href="" class="img-link three-bar">
                    <img src="images/vedio/neonan-vedio_05.png" width="100%" alt=""/>
                    <div class="inner-link">
                        <h4 class="link-title">轰炸腹肌</h4>
                        <h4 class="link-title">五招练出迷人马甲线</h4>
                    </div>
                    <img src="images/vedio/play-02.png" class="play-style-two" width="46" height="46" alt=""/>
                </a>
            </div>
            <div class="col-md-4">
                <a href="" class="img-link three-bar">
                    <img src="images/vedio/neonan-vedio_05.png" width="100%" alt=""/>
                    <div class="inner-link">
                        <h4 class="link-title">轰炸腹肌</h4>
                        <h4 class="link-title">五招练出迷人马甲线</h4>
                    </div>
                    <img src="images/vedio/play-02.png" class="play-style-two" width="46" height="46" alt=""/>
                </a>
            </div>
        </div>

        <div class="row mbl">
            <div class="col-md-4">
                <a href="" class="img-link three-bar">
                    <img src="images/vedio/neonan-vedio_05.png" width="100%" alt=""/>
                    <div class="inner-link">
                        <h4 class="link-title">轰炸腹肌</h4>
                        <h4 class="link-title">五招练出迷人马甲线</h4>
                    </div>
                    <img src="images/vedio/play-02.png" class="play-style-two" width="46" height="46" alt=""/>
                </a>
            </div>
            <div class="col-md-4">
                <a href="" class="img-link three-bar">
                    <img src="images/vedio/neonan-vedio_05.png" width="100%" alt=""/>
                    <div class="inner-link">
                        <h4 class="link-title">轰炸腹肌</h4>
                        <h4 class="link-title">五招练出迷人马甲线</h4>
                    </div>
                    <img src="images/vedio/play-02.png" class="play-style-two" width="46" height="46" alt=""/>
                </a>
            </div>
            <div class="col-md-4">
                <a href="" class="img-link three-bar">
                    <img src="images/vedio/neonan-vedio_05.png" width="100%" alt=""/>
                    <div class="inner-link">
                        <h4 class="link-title">轰炸腹肌</h4>
                        <h4 class="link-title">五招练出迷人马甲线</h4>
                    </div>
                    <img src="images/vedio/play-02.png" class="play-style-two" width="46" height="46" alt=""/>
                </a>
            </div>
        </div>

        <div class="row mbl">
            <div class="col-md-4">
                <a href="" class="img-link three-bar">
                    <img src="images/vedio/neonan-vedio_05.png" width="100%" alt=""/>
                    <div class="inner-link">
                        <h4 class="link-title">轰炸腹肌</h4>
                        <h4 class="link-title">五招练出迷人马甲线</h4>
                    </div>
                    <img src="images/vedio/play-02.png" class="play-style-two" width="46" height="46" alt=""/>
                </a>
            </div>
            <div class="col-md-4">
                <a href="" class="img-link three-bar">
                    <img src="images/vedio/neonan-vedio_05.png" width="100%" alt=""/>
                    <div class="inner-link">
                        <h4 class="link-title">轰炸腹肌</h4>
                        <h4 class="link-title">五招练出迷人马甲线</h4>
                    </div>
                    <img src="images/vedio/play-02.png" class="play-style-two" width="46" height="46" alt=""/>
                </a>
            </div>
            <div class="col-md-4">
                <a href="" class="img-link three-bar">
                    <img src="images/vedio/neonan-vedio_05.png" width="100%" alt=""/>
                    <div class="inner-link">
                        <h4 class="link-title">轰炸腹肌</h4>
                        <h4 class="link-title">五招练出迷人马甲线</h4>
                    </div>
                    <img src="images/vedio/play-02.png" class="play-style-two" width="46" height="46" alt=""/>
                </a>
            </div>
        </div>

    </div>
</div>