<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="fragment" content="!">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="Access-Control-Allow-Origin" content="*">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" href="favicon.ico" />
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/swiper.min.css" />
    <link rel="stylesheet" href="css/app.public.css" />
    <link rel="stylesheet" href="css/animation.css" />
    <link rel="stylesheet" href="css/main.css" />
    <link rel="stylesheet" href="css/loginup.css" />
    <link rel="stylesheet" href="css/self.info.css" />
    <link rel="stylesheet" href="css/mediaquery.css" />
    <link rel="stylesheet" href="css/content.detail.css" />
    <link rel="stylesheet" href="css/tv.page.css" />
    <link rel="stylesheet" href="css/about.css" />
    <link rel="stylesheet" href="css/cropper.css" />
    <link rel="stylesheet" href="css/index.css">
    <title>牛男网-主页</title>
</head>

<body>
<!-- 所以弹框 -->
<!-- logup 用户注册-->
<div class="modal fade regdailog s-example-modal-lg modal-logup" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" id="rigester">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="dialog-reg">
                <div class="account-title">
                    <img src="./images/res.png" alt="" />
                </div>
                <div class="user-input">
                    <div class="input-list">
                        <input type="text" placeholder="请输入手机号码或邮箱" class="regmobile" ng-model="emailOrPhone" />
                    </div>
                    <div class="input-list getcodes" style="display: block">
                        <input id="enter-code" type="text" placeholder="请输入验证码" />
                        <div class="get-code">获取验证码</div>
                    </div>
                    <div class="input-list">
                        <input type="password" placeholder="请输入密码" class="regemail" ng-model="password" />
                    </div>
                    <div class="input-list">
                        <input type="password" placeholder="确认密码" class="regpwd" ng-model="repassword" />
                    </div>
                    <div class="worn">注册请完善所有信息！</div>
                    <div class="dialog-submit-wrap">
                        <button type="button" class="btn btn-default dialog-submit" id="reg">立即注册</button>
                        <button type="button" class="btn btn-link return-login" id="return" data-dismiss="modal" data-toggle="modal" data-target="#login">返回登录</button>
                    </div>
                </div>
                <div class="close-dialog" data-dismiss="modal"></div>
            </div>
        </div>
    </div>
</div>
<!-- login 用户登录-->
<div class="modal fade bs-example-modal-lg modal-login loginDailog" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" id="login">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="dialog-login">
                <div class="account-title">
                    <img src="./images/betterman.png" alt="" />
                </div>
                <div class="user-input">
                    <div class="input-list">
                        <input type="text" placeholder="请输入牛男账号(手机号/邮箱)" class="smslogin" />
                    </div>
                    <div class="input-list">
                        <input type="password" placeholder="请输入密码" class="smspwd" />
                    </div>
                    <div class="somewrong">
                        您输入的账号或密码有误，请检查重新登录
                    </div>
                    <div class="rememberMe">
                        <input type="checkbox" name="pwd" id="pwd" />
                        <label for="pwd">记住我</label>
                    </div>
                    <div class="dialog-submit-wrap">
                        <button type="button" class="btn btn-default dialog-submit loginnow">立即登录</button>
                        <button type="button" class="btn btn-link return-login forgetpwd" data-dismiss="modal" data-toggle="modal" data-target="#findpassword">忘记密码？</button>
                    </div>
                    <div class="other-login">
                        <div class="other-login-text">第三方登录</div>
                        <div class="other-login-list">
                            <button type="button" class="btn btn-default weixin" data-dismiss="modal"><span class="media-login weixin-ligin"></span></button>
                            <button type="button" class="btn btn-default weibo" data-dismiss="modal"><span class="media-login weibo-login"></span></button>
                            <button type="button" class="btn btn-default qq" data-dismiss="modal"><span class="media-login qq-login"></span></button>
                        </div>
                    </div>
                    <div class="no-account">
                        <div class="float-left no-account-left">还没有牛男账号？ 立即加入！</div>
                        <button type="button" class="btn btn-default dialog-submit float-right no-account-right" data-dismiss="modal" data-toggle="modal" data-target="#rigester">立即注册</button>
                    </div>
                </div>
                <div class="close-dialog" data-dismiss="modal"></div>
            </div>
        </div>
    </div>
</div>
<!-- find password 查找密码-->
<div class="modal fade bs-example-modal-lg findpassword" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" id="findpassword">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="dialog-find-pwd">
                <div class="account-title">
                    <img src="./images/findpwd.png" alt="" />
                </div>
                <div class="user-input">
                    <div class="input-list">
                        <input type="text" placeholder="请输入手机号码" class="findmobile" />
                    </div>
                    <div class="input-list">
                        <input type="text" placeholder="请输入验证码" class="findcode" />
                        <div class="get-codes find-get-code">获取验证码</div>
                    </div>
                    <div class="input-list">
                        <input type="password" placeholder="请输入新密码" class="findpwd" />
                    </div>
                    <div class="input-list">
                        <input type="password" placeholder="确认密码" class="refindpwd" />
                    </div>
                    <div class="worn">请完善找回密码相关资料</div>
                    <div class="dialog-submit-wrap">
                        <button type="button" class="btn btn-default dialog-submit findsure" data-dismiss="modal">确定</button>
                        <button type="button" class="btn btn-link return-login" data-dismiss="modal" data-toggle="modal" data-target="#login">返回登录</button>
                    </div>
                </div>
                <div class="close-dialog" data-dismiss="modal"></div>
            </div>
        </div>
    </div>
</div>
<!-- 菜单区域 -->
<div class="menu-content">
    <div class="menu-search">
        <div class="search-content">
            <div class="float-left search-input">
                <input type="text" class="search-input-text" placeholder='search'>
            </div>
            <div class="search-btn"></div>
        </div>
    </div>
    <div class="kinds">CHANNELS 频道</div>
    <ul class="menu-list">
        <li class="menu-list-item car"><a href="" class="car" data-color='#b9b9b9'>汽车 CAR</a></li>
        <li class="menu-list-item fitness"><a href="" class="fitness" data-color='#d93347'>健身 FITNESS</a></li>
        <li class="menu-list-item style"><a href="" class="style" data-color='#7e2dc2'>形象 STYLE</a></li>
        <li class="menu-list-item entertanment"><a href="" class="entertanment" data-color='#cb07ad'>娱乐 entertainment</a></li>
        <li class="menu-list-item deit"><a href="" class="deit" data-color='#00b451'>饮食 diet</a></li>
        <li class="menu-list-item fun"><a href="" class="fun" data-color='#eb9318'>好玩 FUN</a></li>
        <li class="menu-list-item love"><a href="" class="love" data-color='#ee246e'>情感 love</a></li>
        <li class="menu-list-item successful"><a href="" class="successful" data-color='#29658a'>成长 successful</a></li>
        <li class="menu-list-item health"><a href="" class="health" data-color='#76c422'>健康 health</a></li>
        <li class="menu-list-item motivation"><a href="" class="motivation" data-color='#ff6600'>约会 motivational</a></li>
    </ul>
    <div class="kinds">ALBUMS 专辑</div>
    <ul class="menu-list">
        <li class="menu-list-item day30"><a href="" class="day30" data-color='#9cc422'>三十天健身计划</a></li>
        <li class="menu-list-item neoman-music"><a href="" class="neoman-music" data-color='#267ad8'>每天一首牛男音乐</a></li>
        <li class="menu-list-item find-girl"><a href="" class="find-girl" data-color='#22b6db'>牛男泡妞秘籍</a></li>
    </ul>
</div>
<div class="main-wrap">
    <div class="tp-mask"></div>
    <header>
        <div class="toCenter header">
            <div class="float-left menu-logo">
                <div class="menu"><img src="./images/menu.png" alt="menu"></div>
                <div class="logo"><img src="./images/logo.png" alt="牛男网"></div>
            </div>
            <div class="float-left choose-wrap"></div>
            <div class="float-right login-reg">
                <!-- 登录注册 登陆注册后移除 -->
                    <span class="login-rigester">
                        <a href="##" class="login" data-toggle="modal" data-target="#login">登录</a>
                        <a href="##" class="reg" data-toggle="modal" data-target="#rigester">注册</a>
                    </span>
                <!-- 登陆注册成功后显示 -->
                <div class="user-head-pic">
                    <img src="images/defaultHeadPic.png" alt="" id="headpic">
                    <div class="user-center">
                        <ul class="list-ul">
                            <li class="user-func-list addbor"><a href="">个人中心</a></li>
                            <li class="user-func-list"><a href="">退出登录</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="tp-content">
        <div class="main toCenter">
            <div class="about-container">
                <div class="row">
                    <div>
                        <ul class="nav nav-tabs" role="tablist" id="tab-nav">
                            <li><a href="about.html">关于我们</a></li>
                            <li><a href="http://mp.weixin.qq.com/s?__biz=MjM5ODA1MzMwMA==&mid=205205726&idx=1&sn=bddc21041db47029ad1bf6d2ac37056a#rd">联系我们</a></li>
                            <li><a href="sitemap.html">站点地图</a></li>
                            <li><a href="privacy.html">隐私条款</a></li>
                            <li><a href="disclaimer.html">免费申明</a></li>
                            <li><a href="copyright.html">版权申明</a></li>
                            <li><a href="links.html">友情链接</a></li>
                            <li><a href="ad.html">广告服务</a></li>
                            <li><a href="careers.html">加入牛男</a></li>
                            <li class="active"><a href="contributors.html">欢迎投稿</a></li>
                        </ul>

                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane fade in active">
                                <div class="about-view">
                                    <h1>CONTRIBUTORS /欢迎投稿</h1>
                                    <div class="content">
                                        <p>上传内容到牛男网，即表示你已经阅读并且同意遵守牛男网的<a href="#">《账号使用协议》</a></p>
                                        <h2>文字投稿</h2>
                                        <h3>一、牛男网介绍</h3>
                                        <p class="scri">牛男网（英文名NeoNan）是一家男士网站，也是国内第一家网络视频杂志网站。网站内容包括有关年轻男性的文章与视频，涉及时尚、健康、性情、生活、财富、玩乐、汽车、牛男宝贝等资讯。牛男网于2012年10月1日正式改版。</p>
                                        <h3>二、约稿说明</h3>
                                        <p class="title">牛男网是否接受新的投稿人？</p>
                                        <p class="scri">欢迎各类热爱写作的兼职写手、编辑、海外朋友合作，要求与我们网站内容相关，并且一稿一投，如果您的稿件被发布10篇以上，将会成为我们的兼职通讯员</p>
                                        <p class="title">各栏目所发文章有何要求？</p>
                                        <p class="scri">熟悉国内外行业动态并有卓越的审美眼光，文章内容必须精彩、有见解，可以是热点话题、也可以给出用户专家般的建议。可以根据栏目投稿，也可以投递任何你觉得新潮、好玩、实用、观点新颖的文章。</p>
                                        <p class="title">如何才能让文章更贴合我们的网站？</p>
                                        <p class="scri">请浏览我们的网站 <a ui-sref="index">http://www.neonan.com </a>了解并感觉各栏目的类型，请勿重复我们已发布的文章，内容要有创意，主题要有新意。</p>
                                        <p class="title">投稿人该如何提交文章？</p>
                                        <ul>
                                            <li>投稿发邮件至 <a href="mailto:contributors@neonan.com">contributors@neonan.com</a></li>
                                            <li>投稿时请作者务必注名自己的真实姓名、笔名、通讯地址、电话、EMAIL以及你所要投稿的具体栏目(另可注明擅长领域、个人博客、已发表作品列表</li>
                                            <li>来稿请将文章贴在邮件正文部分，并附带同样的WORD附件一份。在邮件主题处注明“牛男网约稿”、投稿栏目、文章标题。图片为JPEG格式，文章内切勿忘记留下完整联系方式。</li>
                                            <li>投稿一经采用，作者会收到编辑回复。如您在投稿后一月内未收到编辑回信，说明投稿不适合网站用稿要求，可另行处理。</li>
                                        </ul>
                                        <p class="title">牛男网有没有正式投稿人？</p>
                                        <p class="scri">有的。我们会定期再发布一些投稿人的博客，也有一些投稿人为我们创作原创性文章。这些投稿人均是知名度较高的专家。</p>
                                        <p class="title">还有其它注意事项吗？</p>
                                        <ul>
                                            <li>所投稿件由相关工作人员审核编辑、以切合牛男网整体风格，并决定是否采用。一经采用，我们将拥有使用文稿的一切权力。</li>
                                            <li>要求一稿一投，谢绝重复用稿和假稿。请一定不要剽窃或抄袭他人稿件，或应用网络文章整合、攒造稿件。一经发现并核实后，网站将不再录用投稿。</li>
                                        </ul>
                                        <h3>三、写手要求</h3>
                                        <p class="title">我们需要的是：</p>
                                        <ul>
                                            <li>符合以下频道规划 </li>
                                            <ul>
                                                <li>情感：泡妞秘籍、爱情经营、约会技巧、性感美女等</li>
                                                <li>成长：男人成功秘诀、励志语录、男人时尚、职场法则、创业指导等</li>
                                                <li>健康：健身攻略、肌肉锻炼、健康养生、饮食秘籍、男性保健等</li>
                                                <li>幽默：笑话集、幽默漫画、奇趣发现、科技酷玩、娱乐趣闻等</li>
                                                <li>投稿要达到牛男网的基本要求，力求可读性强，内容要健康积极，尤其是数字、名称、史实、引语等更应核实准确。</li>
                                                <li>独特分析评论，专家意见，文字幽默，具有深意，观点鲜明，我们的撰稿人写作内容涉及众多话题确保您的文章给出相关列表，做出分页，以便于阅读。</li>
                                            </ul>
                                        </ul>
                                        <p class="title">我们不需要的是：</p>
                                        <ul>
                                            <li>宣传或赞助类帖子. 您的文章内容不应涉及新闻稿，分类广告，或者有所偏见。您的文章不应用作招聘，并不涉及任何可能的利益冲突。</li>
                                            <li>极其个人性的文章. 可以使用现实例子，但我们不希望看到太多描述您私人生活的内容。</li>
                                            <li>语言过于专业性，或词目只有行业内部人士才了解的文章。</li>
                                            <li>诽谤. 请勿包含人身攻击，阴谋论，诽谤以及粗话脏话。</li>
                                            <li>侵犯他人知识产的文章. 该条包括但不限于任何类型的商业机密，商标和版权。</li>
                                        </ul>
                                        <h3>四、稿酬规则</h3>
                                        <p class="scri">稿件一经采用，网站将依照著作权法相关规定向作者奉寄稿酬。合格的被采纳的稿件基准价格为每篇6-10元，2周后根据真实流量及百度收录情况追加奖金。最高不超过100元/篇！</p>
                                        <h2>视频投稿</h2>
                                        <h3>一、牛男网介绍</h3>
                                        <p class="scri">牛男网（英文名NeoNan）是一家男士网站，也是国内第一家网络视频杂志网站。网站内容包括有关年轻男性的文章与视频，涉及时尚、健康、性情、生活、财富、玩乐、汽车、牛男宝贝等资讯。牛男网于2012年10月1日正式改版。</p>
                                        <h3>二、视频征集说明</h3>
                                        <p class="title">牛男网是否接受新的投稿人？</p>
                                        <p class="scri">欢迎热爱观看、收集或制作视频的各界网友，为我们推荐转载或原创视频，如果您的视频被牛男网采纳或发布50个以上，将会成为我们的兼职视频通讯员。</p>
                                        <p class="title">如何才能让视频贴合我们的网站？</p>
                                        <p class="scri">请登录我们的网站www.neonan.com了解各频道视频的类型和风格，请勿重复我们已发布的视频，内容要有创意，主题要有新意。</p>
                                        <p class="title">投稿人该如何提交视频？</p>
                                        <p class="scri"></p>投稿发邮件至
                                        <a href="mailto:contributors@neonan.com">contributors@neonan.com</a>
                                        <ul>
                                            <li 1="">所投稿件由相关工作人员审核编辑、以切合牛男网整体风格，并决定是否采用。一经采用，我们将拥有使用文稿的一切权力。</li>
                                            <li 2="">要求一稿一投，谢绝重复用稿和假稿。请一定不要剽窃或抄袭他人稿件，或应用网络视频整合、攒造稿件。一经发现并核实后，网站将不再录用投稿。</li>
                                        </ul>
                                        <h3>三、视频详细要求</h3>
                                        <p class="title">我们需要的是：</p>
                                        <ul>
                                            <li>符合以下频道规划</li>
                                            <ul>
                                                <li>女人：泡妞秘籍、爱情秘方、明星情报、知名时尚人物等</li>
                                                <li>睿知：男人生活品质、健身攻略、男人时尚、职场法则、商界精英等</li>
                                                <li>酷玩：电子科技、潮人玩物、旅游攻略、汽车资讯、劲爆游戏、影视推荐等</li>
                                            </ul>
                                            <li>视频要达到牛男网的基本要求，力求可看性强，内容要健康积极，尤其是数字、名称、史实、引语等更应核实准确。</li>
                                        </ul>
                                        <p class="title">我们不需要的是：</p>
                                        <ul>
                                            <li>宣传或赞助类帖子. 您的文章内容不应涉及新闻稿，分类广告，或者有所偏见。您的文章不应用作招聘，并不涉及任何可能的利益冲突。</li>
                                            <li>极其个人性的文章. 可以使用现实例子，但我们不希望看到太多描述您私人生活的内容。</li>
                                            <li>语言过于专业性，或词目只有行业内部人士才了解的文章。</li>
                                            <li>诽谤. 请勿包含人身攻击，阴谋论，诽谤以及粗话脏话。</li>
                                            <li>侵犯他人知识产的文章. 该条包括但不限于任何类型的商业机密，商标和版权。</li>
                                        </ul>
                                        <h3>四、稿酬规则</h3>
                                        <p class="scri">转载视频仅为你视频， 不给予稿酬；原创视频一经采用，网站将依照著作权法相关规定向作者奉寄稿酬。合格的被采纳的视频基准价格为每个50元，2周后根据真实流量及百度收录情况追加奖金。</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <footer>
        <div class="footer-content toCenter">
            <div class="float-left some-links">
                <div class="footer-logo">
                    <img src="./images/footer-neoman.png" alt="">
                </div>
                <div class="links">
                    <a href="" class="link">关于我们</a>
                    <a href="" class="link">广告服务</a>
                    <a href="" class="link">友情链接</a>
                    <a href="" class="link">牛男商城</a>
                    <a href="" class="link">加入牛男</a>
                    <a href="" class="link">相关声明</a>
                    <a href="" class="link">牛男APP</a>
                    <a href="" class="link">欢迎投稿</a>
                </div>
            </div>
            <div class="float-right enter">
                <div class="betterman">立即加入成为更好的男人</div>
                <form action="">
                    <div class="input-wrap clear">
                        <div class="float-left input-text">
                            <input type="text" placeholder='请输入您的邮箱'>
                        </div>
                        <div class="float-left enter-btn">立即加入</div>
                    </div>
                </form>
                <div class="shares">
                    <a href="" class="share"><img src="./images/single.png" alt=""></a>
                    <a href="" class="share"><img src="./images/weibo.png" alt=""></a>
                    <a href="" class="share"><img src="./images/weixin.png" alt=""></a>
                </div>
            </div>
        </div>
    </footer>
</div>
<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="bower_components/swiper/swiper.min.js"></script>
<script src="bower_components/jquery.nicescroll/jquery.nicescroll.js"></script>
<script src="bower_components/dealimg/cropper.js"></script>
<script src="js/utils.js"></script>
<script src="js/userhandle.js"></script>
</body>

</html>
