<div class="container">
    <h1>CAREERS /加入我们</h1>
    <div class="content">
        <h2>客服</h2>
        <p>维护公司与客户之间的关系，并开发新客户，执行力强，积极主动。</p>
        <h2>iOS开发</h2>
        <p>根据开发过程中的体验对产品提出改进建议,积极参与产品、功能与技术架构的改进..</p>
        <h2>SEO</h2>
        <p>有效增加网站的整体流量和知名度。 能从看似杂乱的数据中分析出合理的原因并制定应对方案，有市场洞察和分析调研能力</p>
        <h2>互动设计师</h2>
        <p>设计制作各类客户的互联网互动Flash广告</p>
        <h2>网站编辑</h2>
        <p>性情为最高优先需要编辑，其余为车子以及体育。英文能力需要高，可以阅读以及一定程度的翻译，有产业热情以及编辑经验</p>
        <h2>文案策划</h2>
        <p>负责公司影视项目的前期创意、策划及提案方案的撰写....</p>
        <h2>网络销售</h2>
        <p>乐于从事销售以及客户服务相关工作，具备良好的客户服务意识，良好的自我激励能力</p>
        <h2>社区管理员</h2>
        <p>审核、维护用户信息- 分析/理解网站的使用，提出改进建议，并能够及时将用户提出的改进要求传达给开发组</p>
    </div>
</div>