<div class="container">
    <h1>COPYRIGHT /版权声明</h1>
    <div class="content">
        <p>一、<a href="/">牛男 NEO</a> 字样及其图形 LOGO 为牛男 NEO 商标，受法律保护，任何人不得擅自使用。未经牛男 NEO 书面许可， 对于牛男 NEO 拥有知识产权的内容或资料，任何人不得复制或在非牛男 NEO 的服务器上制作镜像或以其他方式使用。违反前述声明而给牛男 NEO 造成损失的，牛男 NEO 将依法追究其法律责任。</p>
        <p>二、除个人识别信息，其他任何您发送或邮寄、上传给本站的言论、观点、材料、信息或联系方式等信 (以下统称信息)均将被视为非保密和非专有。我们将对这些信息不承担任何义务。同时您的提交行 为如果没有特别声明时，可视为同意（或授权）：牛男 NEO 及其授权人将可因商业或非商业的目的自 由复制、露、分 发、合并和以其他方式利用这些信息和所有数据、图像、声音文本及其他内容或资 料。</p>
        <p>三、您对本站的使用不得违背法律法规及公众道德，不得向或从本站邮寄或发送任何非法、威胁、诽谤、 中伤、淫秽、色情或其他可能违法的内容或资料。若相关人对此内容或资料及影响提出确有证据的 警告或异议，本站可随时删除该等信息或无限时中止该信息的网上浏览，而不必事先取得提交者的 同意，亦无义务事后通知提交者，情况严重的，本站可采取注销该用户的措施。</p>
        <p>四、如果您认为牛男 NEO 上载的某一内容或资料被不恰当的公布您可以要求牛男 NEO 删除该内容或资料；但事先必须向牛男 NEO 提供下列材料，否则该要求将被视为未提出</p>
        <ol>
            <li>著作权人身份证明文件；</li>
            <li>著作权权属证明；</li>
            <li>被侵权内容在网站中所处位置或链接；</li>
            <li>您的联系方式，包括但不限于地址、电话和电子邮箱；</li>
            <li>您表示该内容或资料的使用未经版权所有人或其代理人/许可人的合法授权的声明；</li>
            <li>法律明文要求的其他资料。</li>
        </ol>
    </div>
</div>