<div class="container about-view">
    <h1>LINKS /友情链接</h1>
    <div class="content">
        <div class="link-item">
            <p class="type"><strong>男性</strong></p>
            <div class="list">
                <a href="http://www.yokamen.cn/">YOKA男士</a>
                <a href="http://www.fhmtrends.com.cn/">男人装</a>
                <a href="http://www.luxtarget.com/">致品网</a>
                <a href="http://www.jianshen114.com/">健身114</a>
                <a href="http://emotion.55bbs.com/">恋爱行为学</a>
                <a href="http://www.enrz.com/">时尚男人装</a>
                <a href="http://www.55pua.com ">泡妞网</a>
            </div>
        </div>
        <div class="link-item">
            <p class="type"><strong>视频</strong></p>
            <div class="list">
                <a href="http://v.163.com/">网易视频</a>
                <a href="http://www.56.com/">56网</a>
                <a href="http://wwwa.flvcd.com">硕鼠下载</a>
                <a href="http://www.cnrmobile.com/">央广视讯</a>
                <a href="http://fun.iqiyi.com/">爱奇艺搞笑</a>
                <a href="http://dv.pps.tv/">pps视频</a>
                <a href="http://www.uusee.com">悠视网</a>
            </div>
        </div>
        <div class="link-item">
            <p class="type"><strong>游戏</strong></p>
            <div class="list"></div>
        </div>
        <div class="link-item">
            <p class="type"><strong>购物</strong></p>
            <div class="list">
                <a href="http://www.gloluxury.com/">奢侈品</a>
                <a href="http://www.ycpinpai.com/">运动品牌网</a>
                <a href="http://www.1p1g.com/about/links">一瓶一罐</a>
                <a href="http://www.zhenpin.com/">奢侈品</a>
                <a href="http://www.zhe800.com">9.9包邮</a>
            </div>
        </div>
        <div class="link-item">
            <p class="type"><strong>社区</strong></p>
            <div class="list">
                <a href="http://zhishi.bozhong.com/">备孕知识</a>
                <a href="http://http://www.autohome.com.cn/">汽车之家</a>
                <a href="http://emotion.mop.com/">猫扑情感</a>
                <a href="http://www.mayi.com">日租房</a>
            </div>
        </div>
        <div class="link-item">
            <p class="type"><strong>时尚</strong></p>
            <div class="list">
                <a href="http://www.hicosmo.com/#num=3">时尚伊人网</a>
                <a href=" http://www.vsuch.com/">尚趣网 </a>
                <a href="http://www.onlyforman.net/">男士打扮</a>
                <a href="http://www.8090yxs.com/">8090游戏</a>
                <a href="http://mm.cn2che.com/">香车美女</a>
                <a href="http://www.youlovedna.com/">热爱基因</a>
                <a href="http://www.vapee.com/">画皮网</a>
                <a href="http://bbs.67.com/">娱乐网</a>
                <a href="http://www.stylemode.com/">stylemode中文网</a>
            </div>
        </div>
        <div class="link-item">
            <p class="type"><strong>网址导航</strong></p>
            <div class="list">
                <a href="http://www.soso123.com">123网址之家</a>
            </div>
        </div>
        <p>欢迎您和牛男网交换友情链接。只要您的网站是与牛男主题相关或互补的网站就可以和牛男网交换友情链接，具体操作流程如下：</p>
        <p>1.将您的资料包括网站名称、网站地址、网站logo、联系人姓名和Email、网站的简介等发Email至 <a href="mailto:contact@neonan.com">contact@neonan.com</a>或 联系在线客服:  <a href="http://wpa.qq.com/msgrd?v=3&amp;uin=502702561&amp;site=qq&amp;menu=yes" target="_blank"><img alt="点击这里给我发消息" src="http://wpa.qq.com/pa?p=2:502702561:41" title="点击这里给我发消息" pagespeed_url_hash="1033381576" /></a></p>
        <p>2.牛男网的工作人员会在3个工作日内完成对贵站的审核，并会通知贵站是否成为牛男网的友情链接伙伴。</p>
        <p>3.同时请在您的网站主页加上牛男网LOGO.图片链接代码：<br /></p>
        <div class="span">
            <textarea class="friend" spellcheck="false">&lt; a target=&quot;_blank&quot; href=&quot;http://www.neonan.com/&quot; title=&quot;牛男NEO - 男人生活网络视频杂志，做一个更好的男人 - 牛男网&quot; &gt;&lt;img src=&quot;http://www.neonan.com/images/style/friendlylink.jpg&quot; /&gt;&lt;/a&gt;</textarea>
        </div>
        <div class="span">
            <textarea class="friend" rows="3" spellcheck="false">&lt;a href=&quot;http://www.neonan.com/&quot; title=&quot;牛男NEO - 男人生活网络视频杂志，做一个更好的男人 - 牛男网&quot; target=&quot;_blank&quot;&gt;牛男网&lt;/a&gt;</textarea>
        </div>
        <p></p>
    </div>
</div>