<div class="container">
    <h1>PRIVACY /隐私声明</h1>
    <div>
        <p>
            <a ui-sref="index">牛男网</a> 将采取适当的措施保护您的隐私。
            牛男网将采取合理的步骤保护您提供给我们的敏感信息，
            我们也将采取合理的安全手段保护已存储的个人信息。
            除非根据法律或政府的强制性规定，在未得到您的许可之前，
            我们不会把您的任何个人信息提供给无关的第三方（包括公司或个人）。
            但是，如果您在注册时选择或同意，
            或用户与牛男网及合作单位之间就用户信息资源公开或使用另有约定或您要求我们提供特定客户支援服务或把一些物品送交给您，
            我们则需要把您的姓名和地址提供给第三者如运输公司。
            我们的网站将会提供第三者网站的链接，
            由于我们不能控制这些网站，
            所以我们建议您细阅这些第三者网站的个人信息保密制度。
        </p>
        <dl>
            <dt>一、一般而言，牛男基于下列原因需要使用到用户的信息资源：</dt>
            <dd>执行信息验证服务。</dd>
            <dd>提供升级服务。</dd>
            <dd>提高您的使用安全性并提供客户支持。</dd>
            <dd>因用户使用牛男网特定功能或因用户要求牛男网或合作单位提供特定服务时，牛男网或合作单位则需要把用户的信息提供给与此相关联的第三方。</dd>
            <dd>其他有利于用户和牛男网利益的。</dd>
        </dl>
        <dl>
            <dt>二、您同意牛男网将会尽其合理努力以保护您的计算机资源及计算机通讯的隐私性和完整性，但是， 您承认和同意牛男网不能就此事提供任何保证。"您承认和同意"的方式有：</dt>
            <dd>接受本协议及牛男网发布的服务条款。</dd>
            <dd>用户通过电子邮件、电话、传真、即时通信等方式所作的口头或书面表示。</dd>
            <dd>协议或服务声明中有"默认同意"条款，用户对此无异议的。</dd>
            <dd>其他牛男牛男网与用户均认可的方式。</dd>
        </dl>
        <dl>
            <dt>三、牛男网也许会因法律要求披露个人资料，或者因善意确信这样的作法对于下列各项有其必要性，在此情况下之任何披露，本网站均不承担任何责任。</dt>
            <dd>符合法律公告或遵守适用于牛男网站点的合法程序。</dd>
            <dd>保护牛男网的用户之权利或财产。</dd>
            <dd>在紧急的情况下，为了保护牛男网及其用户之个人或公众安全。</dd>
        </dl>
        <dl>
            <dt>四、Cookies</dt>
            <dd>Cookies 是指一种技术，当使用者访问设有 Cookies 装置的本网站时，本网站之服务器可能会自动发送 Cookies 至阁下浏览器内，并储存到您的电脑硬盘内，此 Cookies 便负责记录日后您到访本网站的种种活动、个人资料、浏览习惯、消费习惯甚至信用记录。</dd>
        </dl>
        <dl>
            <dt>五、免责</dt>
            <dd>除上述第三条规定属免责外，下列情况时牛男网亦毋需承担任何责任：</dd>
            <dd>由于您将用户密码告知他人或与他人共享注册帐户，由此导致的任何个人资料泄露。</dd>
            <dd>任何由于黑客政击、计算机病毒侵入或发作、因政府管制而造成的暂时性关闭等影响网络正常经营之不可抗力而造成的个人资料泄露、丢失、被盗用或被篡改等。</dd>
            <dd>由于与本网站链接的其它网站所造成之个人资料泄露及由此而导致的任何法律争议和后果。</dd>
        </dl>
    </div>
</div>